/* --------------------- GERAL --------------------- */
body {
    background-color: #001427;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* --------------------- INDEX.PHP --------------------- */

#login {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#form_login {
    width: 400px;
    height: 400px;
    background-color: #0B6E4F;
    padding: 40px;
    margin: 50px;
    border-radius: 10px;
}

#form_login h1 {
    color: #F7B801;
    text-align: center;
}

#form_login input[type='text'],
#form_login input[type='email'],
#form_login input[type='password'] {
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    height: 25px;
}

#form_login input[type='submit'] {
    border-radius: 3px;
    width: 100%;
    height: 35px;
    background-color: #F7B801;
    cursor: pointer;    
}

#form_login input[type='submit']:hover {
    background-color: #F4A001;
}


/* --------------------- ESCOLHA.PHP --------------------- */

#escolha_php {
    background-color: #001427;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}

#geral {
    width: 700px;
    height: 400px;
    background-color: #0B6E4F;
    padding: 40px;
    margin: 50px;
    border-radius: 10px;
}

#escolha_php img {
    height: 170px;
    width: 170px;
}

#escolha_php input[type="submit"] {
    border-radius: 10px;
    width: 100px;
    height: 50px;
    background-color: #F7B801;
    cursor: pointer;     
}

#escolha_php input[type='submit']:hover {
    background-color: #F4A001;
}

#geral div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#geral label[for="nome_cliente"] {
    color: #F7B801;
}


/* --------------------- MONTAGEM.PHP --------------------- */

#montagem_geral {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#cartao_montagem {
    background-color: #0B6E4F;
    margin: 30px;
    padding: 30px;
    border-radius: 20px;
    width: 400px;
}

#cartao_montagem h2 {
    color: #F7B801;
    text-align: center;
}

#cartao_montagem input[type='submit'] {
    border-radius: 10px;
    width: 200px;
    height: 35px;
    background-color: #F7B801;
    cursor: pointer;    
}

#cartao_montagem input[type='submit']:hover {
    background-color: #F4A001;
}

#cartao_montagem h3 {
    color: white;
}

.opc {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    color: #333;
    border-radius: 4px;
    width: 250px;
    position: relative;
}

.opc:hover {
    background-color: #e0e0e0;
}


.opc option {
    background-color: #fff;
}

/* --------------------- RESULTADO.PHP --------------------- */

#preco_resultado {
    background-color: #0B6E4F;
    color: white;
    width: 400px;
    height: 400px;
    padding: 40px;
    margin: 50px;
    border-radius: 10px;
}

#preco_resultado label[for="nome_cliente"] {
    color: #F7B801;   
}